<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}} | Sample Site</title>
</head>
<body>
  <h1>{{pageTitle}}</h1>
  <p>The site is currently updated. We'll be back soon.</p>

</body>
</html>
