<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{pageTitle}} | Sample Site</title>
</head>
<body>
  {{> _header}}
  <p>Place for projects</p>

  {{> _footer}}
</body>
</html>
